{% extends "base.html" %}

{% block title %}Register - Facial Recognition System{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card rounded">
                <div class="card-header text-center">
                    <h4>Register</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col">
                                {{ form.full_name.label_tag }}
                                {{ form.full_name }}
                            </div>

                            <div class="col">
                                {{ form.id_number.label_tag }}
                                {{ form.id_number }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>

                        <div class="form-group">
                            {{ form.date_of_birth.label_tag }}
                            {{ form.date_of_birth }}
                        </div>
                        <div class="form-row">
                            <div class="col">
                                {{ form.course_unit.label_tag }}
                                {{ form.course_unit }}
                            </div>

                            <div class="col">
                                {{ form.major.label_tag }}
                                {{ form.major }}
                            </div>
                        </div>
                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Register</button>
                            <p class="pt-3">Already have an account? </p>
                            <a href="{% url 'account_login' %}"><p>Login Here</p></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
