<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> FRB Attendance monitoring  </title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <h6> Thank you for your interest in this project</h6>
        <h1> Vision Statement</h1>  
        <p>We envision an innovative and user-friendly application that simplifies attendance tracking and eliminates the need for traditional paper-based systems. By leveraging advanced facial recognition and biometric technologies, we aim to revolutionize attendance management in educational and corporate settings, empowering administrators with real-time insights and improving the overall experience for students and employees alike.</p>
    </main>
	<script src="index.js"></script>
  </body>
</html>